
%div#header
  - beg = Time.now.at_beginning_of_week
  - weekend = beg.to_date + 6
  - mon = beg.strftime("%b #{beg.day.ordinalize}")
  - sun = weekend.strftime("%b #{weekend.day.ordinalize}")
  Favorited startup tweets for <span style="color:#005DBA">#{mon} - #{sun}</span>

%ul
  - @favs.each do |f|
    %li
      .favs
        .techpeep
          %a{:href => "http://twitter.com/#{f[4]}/favorites", :title => f[4] + "'s favorites", :target => "_blank"} 
            %img{:src => f[5], :alt => f[4]} 
            .username
              = f[4]
        .favorite
          %a{:href => "http://twitter.com/#{f[0]}", :title => f[0], :target => "_blank"} 
            %img{:src => f[1], :alt => f[0]}
            .username
              = f[0]
            .tweet
              != f[2].gsub(/(https?|ftp|file):\/\/\S+/) {|s| "<a href='#{s}' class='link' target='_blank'>#{s}</a>" }

%div#footer
  &copy; 2011 
  | 
  %a{:href => "http://github.com/sayem/startupfavs", :target => "_blank"}
    startupfavs on Github
