
<% @favs.each do |f| %>

<a href=<%= "http://twitter.com/#{f[4]}" %> title=<%= f[4] %> target="_new" ><%= f[4] %><%= image_tag(f[5], :alt => f[4]) %></a>
<a href=<%= "http://twitter.com/#{f[0]}" %> title=<%= f[0] %> target="_new" ><%= f[0] %><%= image_tag(f[1], :alt => f[0]) %><%= f[2] %></a>

<br />
<br />
<br />
<br />


<% end  %>
