
%div#header
  - beg = Time.now.at_beginning_of_week
  - weekend = beg.to_date + 6
  - mon = beg.strftime("%b #{beg.day.ordinalize}")
  - sun = weekend.strftime("%b #{weekend.day.ordinalize}")
  Favorited startup tweets for #{mon} - #{sun}

%ul
  - @favs.each do |f|
    %li
      %a{:href => "http://twitter.com/#{f[4]}/favorites", :title => f[4], :target => "_blank"} 
        %img{:src => f[5], :alt => f[4]} 
        = f[4]
      %a{:href => "http://twitter.com/#{f[0]}", :title => f[0], :target => "_blank"} 
        %img{:src => f[1], :alt => f[0]}
        = f[0]
        .tweet
          != f[2].gsub(/(https?|ftp|file):\/\/\S+/) {|s| "<a href='#{s}' target='_blank'>#{s}</a>" }

%div#footer
  &copy; 2011
